<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand ml-2" href="/dashboard">
		<div class="card-body p-0 m-0">
			<h1 class="card-title">Satire News</h1>
			<h6 class="card-subtitle">Satire everywhere in America</h6>
		</div>
	</a>

	<ul class="navbar-nav mr-auto">
		<li class="nav-item mx-1">
			<a class="nav-link" href="/">Home </a>
		</li>
		<li class="nav-item mx-1">
			<a class="nav-link" href="/saved-news">Saved Articles</a>
		</li>

		<li class="nav-item ml-3">
			<button type="button" class="btn btn-danger font-weight-bold h-100 get-news">Retrieve Fake Articles</button>
		</li>
	</ul>
</nav>