<!DOCTYPE html>
<html>
<head>
	<title>Scraper</title>
	<% include ../partials/head %>
</head>
<body>
	<header>
		<% include ../partials/header %>
	</header>
	<div class="jumbotron">
		<h1 class="text-center"></h1>
	</div>
	<main>
		<!-- Where News Will Go -->
	</main>

	<footer class="footer">
		<% include ../partials/footer %>
	</footer>

	<!-- SCRIPT AREA-->
	<% include ../partials/script %>
</body>
</html>